body
{
	color: green;
	font-family: verdana, Arial, Geneva, Arial Black;
	font-weight: lighter;
	background-color: #ffcf79;
}

h1, h2
{
	text-decoration: underline;
}

p
{
	font-family: Helvetica;
	font-size: 25px;
	color: purple;
}

.blue
{
	color: blue;
}

.paragraph1 
{
	
}

.paragraph2 
{

}

.paragraph3
{
	font-style: italic;
}

.underline
{
	text-decoration: underline;
}
