body
{
	color: green;
	font-family: verdana, Arial, Geneva, Arial Black;
	font-weight: lighter;
	background-color: #ffcf79;
	font-size: 25px;
}

h1
{
	font-size: 150%; //Increases the inherited font-size from body
	text-decoration: underline;
}

h2
{
	font-size: 1.2em; //Multiplies the inherited font-size by 1.2
	text-decoration: underline;
}

p
{
	color: purple;
}

.paragraph1 
{
	color: blue;
}

.paragraph2 
{
	color: purple;
}

.paragraph3
{
	background-color: #e5e4d7;
	color: purple;
	font-size: 15px;
	line-height: 1.5em;

}

.underline
{
	text-decoration: underline;
}

.blue
{
	color: blue;
}